# Don't track the photos 
camera/frontend/captures/
camera/frontend/fullres/
utils/capture_tests/

# Ignore temporary files
*.pyc
__pycache__/

# Optional: ignore logs or temp files if you create them later
*.log
*.tmp

